.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 5px;
  border-bottom: none;
  box-sizing: border-box;
  
}

.balance, .login-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.balance {
  width: 195px;
  font-size: 20px;
  font-weight: 500;
}

.login-user {
  background-color: #F2FBFA;
  padding: 15px 10px;
  border-radius: 50%;
}
