.header {
  position: sticky;
  top: 0;
  padding: 15px;
  margin: auto;
  box-sizing: border-box;
  background-color: #25A779;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balance, .login-user {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.balance {
  width: 180px;
  font-size: 20px;
  font-weight: 500;
}

.login-user {
  background-color: #F2FBFA;
  padding: 15px;
  border-radius: 50%;
  border: 2px solid #373737;
}

.svg--out {
  height: 20px;
  width: 20px;
}