.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card__group-one {
    display: flex;
}

.card__money {
    display: flex;
}