<div class="card" [ngStyle]="{
    background: (card.type.title) === 'income' ? 
    '#2ABF8B' : '#FD3A30'}">
    
    <div class="card__group-one">
        <div class="card__money">
            <div class="money__amount">
                {{card.amount}}
            </div>
            <div class="money__curency">
                {{card.currency.title}}
            </div>
        </div>
    </div>
    <div class="card__category">{{card.category}}</div>
    <div class="card_date">{{card.date}}</div>
</div>
