.transaction {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
}

.transaction-card {
    /*display: flex;*/
    justify-content: center;
    background-color: #FFF;
    padding: 5px 0;
    margin: 5px 0;
    width: 100%;
}

@media (min-width:600px) {
    .transaction-card {
        max-width: 70%;
    }
}

@media (min-width:769px) {
    .transaction-card {
        max-width: 50%;
    }
}

@media (min-width:1200px) {
    .transaction-card {
        max-width: 35%;
    }
}
