<div *ngIf="auth.user$ | async; then authenticated else guest">
</div>

<ng-template #guest>
<h3>Howdy, GUEST</h3>
<p>Login to get started...</p>
<button (click)="auth.googleSignin()">
    <i class="fa fa-google"></i> Connect Google
</button>
</ng-template>

<ng-template #authenticated>
<app-header></app-header>
<app-popup-form *ngIf="isShow" (handleHide)="hide()" class="popup"></app-popup-form>
<button class="btn-add" (click)="show()">+</button>
<router-outlet class="main"></router-outlet>
</ng-template>
