.header {
  position: sticky;
  top: 0;
  padding: 5px 15px;
  max-width: 320px;
  margin: auto;
  box-sizing: border-box;
  background-color: #25A779;
  font-family: 'open sans', sans-serif;
}

.btn-add {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  background-color: #1A95E9;
  padding: 12px 17px;
  font-size: 24px;
}

.btn-add:hover {
  cursor: pointer;
  opacity: .9;
}

.popup {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .header {
    max-width: 480px;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    max-width: 940px;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    max-width: 1024px;
  }
}
