<div class="goals">
  <div class="goals__wrapper">
    <form (ngSubmit)="submitForm()" class="goals__form">
      <div class="column-container">
        <label for="goalName" class="form__title">Goal:</label>
        <input id="goalName" class="form__field form__select" type="text" name="goalName" required>
      </div>
      <div class="column-container">
        <label for="goalDescription" class="form__title">Description</label>
        <textarea class="form__field" name="goalDescription" id="goalDescription" rows="5" cols="30"></textarea>
      </div>
      <div class="row-container">
        <label class="form__title">Amount</label>
        <input class="form__field" type="number" name="goalAmount" id="goalAmount" required>
        <div class="column-container">
          <select class="form__field form__select">
            <option value="UAH">
            </option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn-submit">
        Submit
      </button>
      <button class="btn-close" routerLink="">Cansel</button>

    </form>
  </div>

</div>
