<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item"><a class="nav__link" href="#">Головна сторінка</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Архів транзакцій</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Категорії</a></li>
    <li class="nav__item"><a class="nav__link" href="#">План бюджет</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Моніторінг витрат</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Звіт план/факт</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Введення нових даних</a></li>
    <li class="nav__item"><a class="nav__link" href="#">Цілі накопичення</a></li>
  </ul>
</nav>
